*{
    padding:0px;
    margin: 0px;
}

/* header section */

.header-section{
    background-image: url(/new-year-new-me/images/banner/banner1.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
    text-align: right;
    margin-top: 0px;
}
.header-div{
    padding-top: 250px;
    width: 400px;
    padding-left: 845px;
}
.first-p{
    font-size: 45px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-bottom: 15px;
}
.second-p{
    font-size: 12px;
    padding-bottom: 15px;
}
.contact-button{
    border: none;
    border-radius: 5px;
    background-color: rgb(240, 82, 20);
    height: 35px;
    width: 80px;
}

/* second section */

.second-section{
    display: flex;
}
.person-image{
    position: absolute;
    padding-left: 280px;
}
.person-details{
    position: absolute;
    padding-left: 750px;
    padding-top: 150px;
}
.person-heading{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.person-p{
    padding-top: 15px;
    font-size: 13px;
    padding-bottom: 15px;
}
.list{
    position: absolute;
    width: 500px;
}
ul {
    list-style: none;
  }
  
  ul li::marker {
    content: '✓';
    color: green;
  }

  /* plans section */

  .plan-section{
    text-align: center;
    padding-top: 520px ;
}
.person-heading{
    position: absolute;
}
.individual-skills{
    display: flex;
    gap: 80px;
    padding-left: 300px;
    padding-top: 35px;
}
.skill-name{
    font-size: 20px
}
.image-web{

}
.skill-name{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}

